PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=tu-nombre-de-bd
DB_USER=postgres
DB_PASSWORD=tu-contraseña-aqui
DB_SYNC_ALTER=false
JWT_SECRET=cambiar-por-un-secreto-seguro
NODE_ENV=development
FRONTEND_URLS=http://localhost:5173,https://tu-frontend.vercel.app
